/* 
==========COLORS========= */
$black: #333;
$white: #FDFDFD;
$gold: #F2B46B;
$gray: #444;
$light-cream: #FCF5E2;

/* 
==========FONTS========= */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Playfair+Display:wght@700&display=swap');
@mixin Lobster {
    font-family: 'Lobster', cursive;
}
@mixin Oswald  {
    font-family: 'Oswald', sans-serif;;
}
@mixin Playfair-Display {
    font-family: 'Playfair Display', serif;
}
/* 
==========WHOLE========= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* 
==========NAV========= */
@mixin nav-button {
    height: 3px;
    width: 32px;
    border-radius: 10px;
    background-color: $gold;
    
}


.nav-bar {
    padding-bottom: 1rem;
    .nav-logo {
        @include Lobster();
        text-align: center;
        font-size: 2.37rem;
        font-weight: regular;
        color: $black;
    }
    .nav-button {
        @include nav-button;
        display: block;
        position: absolute;
        left: 10px;
        top: 15px;
        cursor: pointer;
        &::after,
        &::before {
            @include nav-button;
            content: " ";
            display: block;
            margin: 7px 0;
        }
        &::before {
            margin-top: 9px; 
        }
    }
    .nav-list {
        margin-top: 10px;
        display: none;
        position: fixed;
        width: 100%;
        .nav-item {
            border: 2px solid $gold;
            border-bottom: 1px;
            text-indent: 20px;
            list-style-type: none;
            &:last-child {
                border-bottom: 2px solid $gold;
            }
            .nav-link {
                @include Playfair-Display();
                text-decoration: none;
                text-transform: none;
                color: $black;
                font-size: 1.77rem;
            }
        }
    }
}


/* 
==========CONTAINER-1========= */
.container-1 {
    max-height: 80%;
    background-color: $light-cream;
    display: grid;
    grid-template-columns: 20px repeat(2, 1fr) 20px;
    grid-template-rows: repeat(2, 1fr);
    .portfolio-img {
        width: 90px;
        max-width: 30%;
        border: 2px solid $gold;
    }
}
.portfolio-1 {

    grid-column: 2/4; 
    grid-row: 1/2;
}
.portfolio-2 {
    grid-column: 3/4; 
    grid-row: 1/2;
}
.portfolio-3 {
    grid-column: 2/4; 
    grid-row: 2/3;
}
.portfolio-4 {
    grid-column: 33/4; 

}
/* 
==========WHOLE========= */