/* 
==========COLORS========= */
/* 
==========FONTS========= */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Playfair+Display:wght@700&display=swap");
/* 
==========WHOLE========= */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/* 
==========NAV========= */
.nav-bar {
  padding-bottom: 1rem;
}

.nav-bar .nav-logo {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 2.37rem;
  font-weight: regular;
  color: #333;
}

.nav-bar .nav-button {
  height: 3px;
  width: 32px;
  border-radius: 10px;
  background-color: #F2B46B;
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  cursor: pointer;
}

.nav-bar .nav-button::after, .nav-bar .nav-button::before {
  height: 3px;
  width: 32px;
  border-radius: 10px;
  background-color: #F2B46B;
  content: " ";
  display: block;
  margin: 7px 0;
}

.nav-bar .nav-button::before {
  margin-top: 9px;
}

.nav-bar .nav-list {
  margin-top: 10px;
  display: none;
  position: fixed;
  width: 100%;
}

.nav-bar .nav-list .nav-item {
  border: 2px solid #F2B46B;
  border-bottom: 1px;
  text-indent: 20px;
  list-style-type: none;
}

.nav-bar .nav-list .nav-item:last-child {
  border-bottom: 2px solid #F2B46B;
}

.nav-bar .nav-list .nav-item .nav-link {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  text-transform: none;
  color: #333;
  font-size: 1.77rem;
}

/* 
==========CONTAINER-1========= */
.portfolio-selection {
  max-height: 80%;
  background-color: #FCF5E2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px (1fr)[2] 20px;
      grid-template-columns: 20px repeat(2, 1fr) 20px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.portfolio-selection .portfolio-img {
  max-width: 30%;
  border: 2px solid #F2B46B;
}

.portfolio-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.portfolio-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.portfolio-4 {
  -ms-grid-column: 33;
  -ms-grid-column-span: -29;
  grid-column: 33/4;
}

/* 
==========CTA========= */
.call-to-action {
  background: black url(../images/geometric-leaves/geometric-leaves.png) repeat;
  mix-blend-mode: difference;
  padding: 1.77rem;
}

.call-to-action .container {
  text-align: left;
  max-width: 90%;
  margin: 2.37rem auto;
  padding: 1rem;
  background-color: #FEEBD8;
  border-radius: 10px;
}

.call-to-action .container .call-to-action-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.77rem;
  color: #C75353;
  text-align: center;
  text-transform: uppercase;
}

.call-to-action .container .call-to-action-text {
  font-family: 'Oswald', sans-serif;
  width: 90%;
  font-size: 1.3rem;
  margin: 2.37rem 0;
  color: #444;
  padding-left: .666rem;
}

.call-to-action .container .call-to-action-button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.33rem;
  display: block;
  text-align: center;
  width: 95%;
  padding: 1.33rem 1.77rem;
  border-radius: 10px;
  color: #FDFDFD;
  background-color: #C75353;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 6px 0 #888;
          box-shadow: 0px 4px 6px 0 #888;
}
/*# sourceMappingURL=styles.css.map */