/* 
==========COLORS========= */
/* 
==========FONTS========= */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Playfair+Display:wght@700&display=swap");
/* 
==========WHOLE========= */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #FCF5E2;
}

/* 
==========NAV========= */
@-webkit-keyframes nav-link-bar {
  0% {
    width: 0;
  }
  75% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}
@keyframes nav-link-bar {
  0% {
    width: 0;
  }
  75% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}

.nav-bar {
  background-color: #FDFDFD;
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-bar .nav-logo {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 2.37rem;
  font-weight: regular;
  color: #333;
}

.nav-bar .nav-button {
  height: 3px;
  width: 32px;
  border-radius: 10px;
  background-color: #F2B46B;
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  cursor: pointer;
}

.nav-bar .nav-button::after, .nav-bar .nav-button::before {
  height: 3px;
  width: 32px;
  border-radius: 10px;
  background-color: #F2B46B;
  content: " ";
  display: block;
  margin: 7px 0;
}

.nav-bar .nav-button::before {
  margin-top: 9px;
}

.nav-bar .nav-list {
  margin-top: 10px;
  display: none;
  width: 100%;
  background-color: #FDFDFD;
  z-index: 999;
  padding-bottom: .33rem;
}

.nav-bar .nav-list .nav-item {
  margin-right: 1rem;
  list-style-type: none;
  padding: 0;
  text-indent: 1rem;
}

.nav-bar .nav-list .nav-item .nav-link {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  text-transform: none;
  color: #333;
  font-size: 1.77rem;
}

.nav-bar .nav-list .nav-item .nav-link:hover {
  opacity: .6;
}

.nav-bar .nav-list-toggled {
  display: block;
}

/* 
==========CONTAINER-1========= */
.portfolio-selection {
  background-color: #FCF5E2;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, auto-fill))[3];
      grid-template-columns: repeat(3, minmax(160px, auto-fill));
  -ms-grid-rows: (minmax(100px, 240px))[3];
      grid-template-rows: repeat(3, minmax(100px, 240px));
}

.portfolio-selection .portfolio {
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-selection .portfolio:hover {
  opacity: .6;
}

.portfolio-selection .portfolio-name {
  padding: .66rem 1rem;
  text-align: center;
  position: relative;
  top: 100px;
  left: 0;
  display: inline-block;
  color: #FDFDFD;
  background-color: #333;
  text-decoration: none;
  border-radius: 7px;
}

.portfolio-1 {
  background-image: url(../images/nature300w.jpg);
  grid-area: top;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  grid-row: span 1;
  background-position: center;
}

.portfolio-2 {
  background-image: url(../images/pets300w.jpg);
  grid-area: small;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 10px;
  background-position: 50% 25%;
}

.portfolio-3 {
  background-image: url(../images/portaits400w.jpg);
  grid-area: side;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  z-index: 1;
  background-position: 50% 25%;
}

.portfolio-4 {
  z-index: 0;
  background-image: url(../images/textures400w.jpg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.portfolio-4 .portfolio-name {
  top: 180px;
}

/* 
==========CTA========= */
.call-to-action {
  background-blend-mode: multiply;
  background: rgba(254, 235, 216, 0.6) url(../images/geometric-leaves/geometric-leaves.png) repeat;
  padding: 3.14rem 1.77rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-to-action .container {
  text-align: left;
  max-width: 70ch;
  padding: 1rem;
  background-color: #FEEBD8;
  border-radius: 10px;
}

.call-to-action .container .call-to-action-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.77rem;
  color: #C75353;
  text-align: center;
  text-transform: uppercase;
}

.call-to-action .container .call-to-action-text {
  width: 90%;
  font-size: 1.3rem;
  margin: 2.37rem 0;
  color: #444;
  padding-left: .666rem;
}

.call-to-action .container .call-to-action-button {
  font-size: 1.25rem;
  display: block;
  text-align: center;
  width: 95%;
  padding: 1.77rem 1.77rem;
  border-radius: 10px;
  color: #FDFDFD;
  background-color: #C75353;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 6px 0 #888;
          box-shadow: 0px 4px 6px 0 #888;
}

/* 
==========PICTURE========= */
.extra-info {
  background-color: #444;
  height: 10%;
  width: auto;
  display: block;
}

.extra-info-picture {
  mix-blend-mode: multiply;
  height: auto;
  width: 100%;
  background-size: cover;
}

.extra-info-text {
  background-color: #333;
  position: relative;
  bottom: 100%;
  color: #FDFDFD;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 4px 4px #444;
          box-shadow: 0px 4px 4px #444;
  border-radius: 8px;
}

/* 
==========EMAIL========= */
.email-list {
  padding: 1.77rem 1rem;
  background-color: #E6E0C3;
}

.email-list .container {
  margin: 0 auto;
}

.email-list .email-list-title {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: #C75353;
  font-size: 1.77rem;
  text-align: center;
  margin-bottom: 2.37rem;
}

.email-list .email-list-form > * {
  display: block;
  margin: .66rem;
}

.email-list .email-list-form {
  font-size: 1rem;
}

.email-list .email-list-form .input {
  display: block;
  margin: 1.77rem 0;
  padding: 1rem 1.33rem;
  font-size: 1.33rem;
  width: 60%;
  max-width: 600px;
}

.email-list .email-list-form .email-selection {
  display: inline-block;
  margin: 0 1rem;
  padding: .77rem;
  font-size: 1rem;
  border-radius: 6px;
}

.email-list .email-list-form .message-label {
  display: block;
  margin-top: 3.17rem;
}

.email-list .email-list-form .email-list-button {
  display: block;
  padding: 1rem 2.34rem;
  font-size: 1.77rem;
  width: 80%;
  max-width: 400px;
  background-color: #C75353;
  color: #FDFDFD;
  text-transform: uppercase;
  margin: 3.14rem auto;
  border-radius: 10px;
}

.footer {
  padding: 2.37rem;
  color: #333;
}

.footer .icons {
  list-style-type: none;
}

.footer .fa {
  cursor: pointer;
  padding: 1.77rem;
  font-size: 1.77rem;
}

.footer .fa:hover {
  opacity: 0.6;
}

/* 
==========MEDIA========= */
@media (min-width: 800px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar .nav-logo {
    display: block;
    margin-left: 10vw;
    font-size: 4vw;
  }
  .nav-bar .nav-button {
    display: none;
  }
  .nav-bar .nav-list {
    display: block;
    text-align: right;
    margin-right: 10vw;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .nav-bar .nav-list .nav-item {
    display: inline-block;
  }
  .portfolio-selection {
    -ms-grid-rows: (minmax(200px, 400px))[3];
        grid-template-rows: repeat(3, minmax(200px, 400px));
    -ms-grid-columns: (minmax(400px, 450px))[3];
        grid-template-columns: repeat(3, minmax(400px, 450px));
    margin-bottom: 15vh;
  }
  .portfolio-1 {
    background-image: url(../images/nature.jpg);
  }
  .portfolio-2 {
    background-image: url(../images/pets.jpg);
  }
  .portfolio-3 {
    background-image: url(../images/portaits800w.jpg);
  }
  .portfolio-4 {
    background-image: url(../images/textures.jpg);
  }
  .call-to-action .container {
    z-index: 1;
  }
  .call-to-action .container-2 {
    background-image: url(../images/nature.jpg);
    width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .call-to-action .container-2 .container-circle {
    display: inline-block;
    height: 400px;
    width: 200px;
    background-color: #FEEBD8;
    border-radius: 60%;
    margin-left: -100px;
    z-index: 0;
  }
  .extra-info .extra-info-picture {
    background-image: url(../images/waterfall.jpg);
  }
}

@media (min-width: 1200px) {
  .email-list-form .container {
    width: 60%;
    max-width: 700px;
    margin-left: 30vw;
  }
  .nav-bar .nav-list .nav-item {
    text-indent: 0;
    margin-right: 2.37rem;
  }
  .nav-bar .nav-list .nav-item .nav-link {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-transform: none;
    color: #333;
    font-size: 1.77rem;
  }
  .nav-bar .nav-list .nav-item .nav-link:hover {
    opacity: .6;
  }
  .nav-bar .nav-list .nav-item .nav-link::after {
    content: "";
    display: block;
    width: 0%;
    background-color: #F2B46B;
    height: 6px;
    border-radius: 5px;
  }
  .nav-bar .nav-list .nav-item .nav-link:hover::after {
    -webkit-animation: 400ms nav-link-bar 400ms ease-in-out forwards;
            animation: 400ms nav-link-bar 400ms ease-in-out forwards;
  }
}
/*# sourceMappingURL=styles.css.map */